.GuildCard {
    display: flex;
    padding: calc(var(--increment) * 2);
    align-content: center;
    background: var(--background-teritary);
    border-radius: calc(var(--increment) * 2);
    margin-top: var(--increment);
    margin-bottom: var(-increment);
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 150ms;
    color: var(--text-primary);
}

.GuildCard__Image {
    border-radius: 50%;
    margin-right: calc(var(--increment) * 2);
    height: 48px;
    width: 48px;
}

.GuildCard__Text {
    margin: auto 0;
}

.GuildCard:hover {
    color: var(--brand-blue);
}
