.Avatar {
    display: flex;
    justify-content: start;
    align-items: center;
}

.Avatar__Image {
    border-radius: 50%;
    margin-right: calc(var(--increment) * 2);
    height: 32px;
    width: 32px;
}
