.DisplayedContent {
    display: flow-root;
    padding: calc(var(--increment) * 2.25);
    max-height: 100%;
    overflow-y: auto;
}

.Sidebar {
    flex: 25%;
    background: var(--background-secondary);
}

@media (min-width: 768px) {
    .Sidebar {
        height: 100vh;
    }
}
