@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

:root {
    --increment: 0.5rem;
    --shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

    --brand-blue: #3974f7;
    --brand-green: #68ff86;
    --brand-yellow: #faca0f;
    --brand-purple: #8e55d9;
    --brand-red: #ed4245;

    --dark-border: #23272b;
    --light-border: #ffffff;

    --light-grey: #c0bcbc;
    --dark-grey: #4f5660;
}

.light {
    --background-primary: #f8f4f4;
    --background-secondary: #f0ecf4;
    --background-teritary: #e8e4ec;

    --text-primary: var(--dark-border);
    --text-secondary: var(--dark-grey);
    --border: var(--light-border);
}

.dark {
    --background-primary: #2c2f33;
    --background-secondary: #1f2124;
    --background-teritary: #18191c;

    --text-primary: var(--light-border);
    --text-secondary: var(--light-grey);
    --border: var(--dark-border);
}

/* body {
    font-family: 'Noto Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: var(--text-primary);
    background: var(--background-primary);

    min-width: 425px;
    font-size: calc(var(--increment) * 2);
    overflow: clip;
}

.Utils__Transition {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
}

.Utils__Container {
    padding: calc(var(--increment) * 2.25);
}

.Utils__Leading {
    margin-bottom: calc(var(--increment) * 1.5);
}

.Utils__Grey {
    color: var(--text-secondary);
}

.Utils__Flex--75 {
    flex: 75%;
}

.Utils__TakeScreen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Utils__FullFlex {
    max-height: 94vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.Utils__LockScrolling {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (min-width: 768px) {
    .Utils__Home {
        display: flex;
    }

    .Utils__FullFlex,
    .Utils__LockScrolling {
        flex: 75%;
    }
}

.Utils__TextAlign {
    margin: auto 0 !important;
}

.Utils__FluorineBlue {
    color: var(--brand-blue);
}

/* Modals */
.Modal__Container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1002;

    background: #00000010;
    height: 100vh;
    width: 100vw;

    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ModalCard {
    border-radius: calc(var(--increment) * 4);
    width: 35vw;
}

.ModalCard__Text {
    background: var(--bg-primary);
    padding: calc(var(--increment) * 2);
}

.ModalCard__Buttons {
    background: var(--bg-secondary);
    padding: var(--increment) calc(var(--increment) * 2);

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Button {
    padding: calc(var(--increment) * 1.25);
    display: block;

    font-family: 'Poppins';
    font-weight: 500;
    color: var(--text-primary);
    text-align: center;

    border: none;
    border-radius: calc(var(--increment) * 2);
    cursor: pointer;
}

.Button[disabled] {
    opacity: 50%;
    cursor: not-allowed;
}

.Button--Primary {
    background: var(--brand-blue);
}

.Button--Primary:hover {
    box-shadow: var(--shadow);
}

.Button--Secondary {
    background: var(--bg-teritary);
}

.Button--Margin {
    margin: calc(var(--increment) * 2) 0;
}

/* Full Scope Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';
}

h1 {
    font-size: calc(var(--increment) * 3.5);
    font-weight: 800;
}

h2 {
    font-size: calc(var(--increment) * 3.25);
    font-weight: 800;
}

h3 {
    font-size: calc(var(--increment) * 3);
    font-weight: 700;
}

h4 {
    font-size: calc(var(--increment) * 2.75);
    font-weight: 700;
}

h5 {
    font-size: calc(var(--increment) * 2.5);
    font-weight: 600;
}

h6 {
    font-size: calc(var(--increment) * 2.25);
    font-weight: 600;
}

/* Forms */
.Form {
    margin-top: calc(var(--increment) * 3) !important;
    margin-bottom: calc(var(--increment) * 3) !important;
}

.Form__Field {
    margin-top: calc(var(--increment) * 1.75);
    margin-bottom: calc(var(--increment) * 1.75);
}

.Form__Label {
    color: var(--text-secondary);
    font-size: calc(var(--increment) * 2);
}

.Form__Error {
    font-size: calc(var(--increment) * 2);
    color: var(--brand-red);
}

.Form__TextInput {
    width: 100%;
    display: block;

    background: var(--background-teritary);
    color: var(--text-primary);
    font-size: calc(var(--increment) * 2.25) !important;

    padding: calc(var(--increment) * 1.25);
    margin-top: var(--increment) !important;
    margin-bottom: var(--increment) !important;

    border: none;
    border-radius: calc(var(--increment) * 1.5);

    resize: none;
}

.Form__TextInput--Paragraph {
    height: calc(var(--increment) * 18);
}

.Form__TextInput:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (min-width: 768px) {
    .Form__TextInput {
        width: calc(50% + calc(25% / 2));
    }
}

.Form__Checkbox {
    background: var(--background-teritary);
    color: var(--text-primary);
    width: calc(var(--increment) * 2.75);
    height: calc(var(--increment) * 2.75);
    margin-right: calc(var(--increment) * 1.25);
}

.Form__Checkbox:checked {
    background: var(--brand-blue);
    color: var(--border-white);
}

.Checkbox__Text {
    margin: ;
}

.Form__CheckboxField {
    margin-top: calc(var(--increment) * 1.75);
    margin-bottom: calc(var(--increment) * 1.75);

    display: flex;
    flex-direction: row;
    align-items: center;
} */
