@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

:root {
    --increment: 0.5rem;
    --shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

    --brand-blue: #3974f7;
    --brand-green: #68ff86;
    --brand-yellow: #faca0f;
    --brand-purple: #8e55d9;
    --brand-red: #ed4245;

    --dark-border: #23272b;
    --light-border: #ffffff;

    --light-grey: #c0bcbc;
    --dark-grey: #4f5660;
}

.light {
    --bg-primary: #f8f4f4;
    --bg-secondary: #f0ecf4;
    --bg-teritary: #e8e4ec;

    --text-color: var(--dark-border);
    --border: var(--light-border);
    --grey: var(--dark-grey);
}

.dark {
    --bg-primary: #2c2f33;
    --bg-secondary: #1f2124;
    --bg-teritary: #18191c;

    --text-color: var(--light-border);
    --border: var(--dark-border);
    --grey: var(--light-grey);
}

body {
    font-family: 'Noto Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: var(--text-color);
    background: var(--bg-primary);

    min-width: 425px;
    font-size: calc(var(--increment) * 2);
    overflow: clip;
}

.transition {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
}

.container {
    padding: calc(var(--increment) * 2.25);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: calc(var(--increment) * 3.5);
    font-weight: 800;
}

h2 {
    font-size: calc(var(--increment) * 3.25);
    font-weight: 800;
}

h3 {
    font-size: calc(var(--increment) * 3);
    font-weight: 700;
}

h4 {
    font-size: calc(var(--increment) * 2.75);
    font-weight: 700;
}

h5 {
    font-size: calc(var(--increment) * 2.5);
    font-weight: 600;
}

h6 {
    font-size: calc(var(--increment) * 2.25);
    font-weight: 600;
}

.leading {
    margin-bottom: calc(var(--increment) * 1.25);
}

.ctaButton {
    display: block;
    background: var(--brand-blue);

    padding: calc(var(--increment) * 1.25);
    margin: calc(var(--increment) * 2) calc(var(--increment) * 2) calc(var(--increment) * 2) 0 !important;

    font-family: 'Poppins';
    font-weight: 600;
    color: var(--text-color);
    text-align: center;

    border: none;
    border-radius: calc(var(--increment) * 2);
    cursor: pointer;
    width: fit-content;
}

.ctaButton:hover {
    box-shadow: var(--shadow);
}

.ctaButton[disabled] {
    color: var(--text-color);
    opacity: 50%;
    cursor: not-allowed;
}

.primaryButton {
    background: var(--bg-teritary);

    margin: calc(var(--increment) * 6);
    margin-left: 0 !important;
    padding: calc(var(--increment) * 1.25);

    font-family: 'Poppins';
    font-weight: 500;
    color: var(--text-color);
    text-align: center;

    border: none;
    border-radius: calc(var(--increment) * 2);
    cursor: pointer;
}

input,
textarea {
    display: block;
    margin-top: var(--increment) !important;
}

input[type='text'],
textarea {
    padding: calc(var(--increment) * 1.25);
    border: none;
    font-size: calc(var(--increment) * 2.25) !important;
    width: 100%;
    margin-top: var(--increment) !important;
    margin-bottom: var(--increment) !important;
    background: var(--bg-teritary);
    color: var(--text-color);
    border-radius: calc(var(--increment) * 1.5);
}

form {
    margin-top: calc(var(--increment) * 3) !important;
    margin-bottom: calc(var(--increment) * 3) !important;
}

.grey {
    color: var(--grey);
}

@media (min-width: 768px) {
    input[type='text'],
    textarea {
        width: 50vw;
    }
}

.noticeBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full {
    height: 100vh !important;
}

.alignCenter {
    text-align: center;
}

.poppins {
    font-family: Poppins;
}

.Modal__Container {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1002;

    background: #00000010;
}

.Modal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ModalCard {
    border-radius: calc(var(--increment) * 4) !important;
    width: 35vw;
}

.ModalCard__Text {
    background: var(--bg-primary);
    padding: calc(var(--increment) * 2);
}

.ModalCard__Buttons {
    background: var(--bg-secondary);
    padding: var(--increment) calc(var(--increment) * 2);

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
