.fullFlex {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.lockScroll {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (min-width: 768px) {
    .home {
        display: flex;
    }

    .fullFlex,
    .lockScroll {
        flex: 75%;
    }

    .fullFlex > * > p,
    .fullFlex > p {
        width: 75%;
    }
}
