/* .table {
    width: 100%;
    margin-top: calc(var(--increment) * 3);
}

thead > td {
    color: var(--gray) !important;
}

tbody > *:nth-of-type(odd) {
    background: var(--bg-secondary);
}

thead {
    background: var(--bg-teritary);
}

tr {
    border-radius: calc(var(--increment) * 2);
}

th,
td {
    padding: calc(var(--increment) * 1.25);
}

.wideTD {
    background: var(--bg-secondary);
    width: 100% !important;
    padding: var(--increment);
} */

.flex {
    margin-top: calc(var(--increment) * 2);
    display: flex;
    flex-direction: row;
    gap: calc(var(--increment) * 4);
    width: 100%;
}

.sidebar {
    flex: 35%;
}

.content {
    flex: 55%;
}

.sidebar,
.content {
    max-height: 100vh;
    overflow-y: scroll;
}

.sideName {
    flex: 15%;
    margin: auto 0;
}

.name {
    flex: 75%;
}

.avatarFlex,
.nameFlex {
    display: flex;
    justify-content: start;
}

.avatar {
    border-radius: 50%;
    margin-right: calc(var(--increment) * 2);
    height: 32px;
    width: 32px;
}

.card {
    margin: calc(var(--increment) * 2);
    padding: calc(var(--increment) * 2);
    background: var(--bg-teritary);
    border-radius: calc(var(--increment) * 2);
}

.card:hover {
    background: var(--bg-secondary);
}
