.CasesTable {
    border-collapse: collapse;
    margin-top: calc(var(--increment) * 2);
    width: 100%;
}

.CasesTable__NoCases {
    padding: calc(var(--increment) * 2);
    width: 100%;
    text-align: center;
}

.CasesTable__Header {
    padding: var(--increment);
    background: var(--background-teritary);
}

.CasesTable__Row {
    padding: var(--increment);
    border: 2px var(--border) solid;
}

.CasesTable__Header--Sortable {
    cursor: pointer;
}

.CasesTable__Header--NotSortable {
    cursor: none;
}

.CasesTable__Header--Sorted {
    gap: calc(var(--increment) * 2);
}

.CasesTable__caseId,
.CasesTable__type {
    width: 7%;
}

.CasesTable__caseCreator,
.CasesTable__moderatedUser {
    width: 25%;
}

.CasesPagination {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: calc(var(--increment) * 2);

    padding: var(--increment);
    background: var(--background-teritary);
}
