.sidebar {
    min-height: 100vh;
    max-height: 100vh;
    flex: 25%;
    background: var(--bg-secondary);
}

.header {
    padding: calc(var(--increment) * 2);
    background: var(--brand-blue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.headerText {
    color: var(--light-border);
    text-shadow: var(--shadow);
}

.displayedContent {
    display: flow-root;
    padding: calc(var(--increment) * 2);
    margin-top: calc(var(--increment) * 1.5);
    overflow-y: scroll;
    overflow-x: hidden;
}
