.Header {
    padding: calc(var(--increment) * 2);
    background: var(--brand-blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.Header__Text {
    color: var(--light-border);
    text-shadow: var(--shadow);
}

.Header__Buttons {
    display: flex;
    gap: var(--increment);
    justify-content: space-between;
    align-items: center;
}

.Header__Button {
    background: none;
    font-family: 'Poppins';
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: var(--light-border);
    font-size: calc(var(--increment) * 3.25);
}
