.padded {
    padding-bottom: calc(var(--increment) * 3);
}

.lessPadded {
    color: var(--grey);
}

.header {
    display: flex;
    padding: calc(var(--increment) * 2);
    align-content: center;
    margin-top: var(--increment);
    margin-bottom: var(-increment);
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 150ms;
}

.card {
    display: flex;
    padding: calc(var(--increment) * 1.5);
    align-content: center;
    background: var(--bg-teritary);
    border-radius: calc(var(--increment) * 2);
    margin-top: var(--increment);
    margin-bottom: var(-increment);
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 150ms;
}

.cardImage {
    border-radius: 50%;
    margin-right: calc(var(--increment) * 2);
    height: 48px;
    width: 48px;
}

.icon {
    margin-right: calc(var(--increment) * 2);
    height: 32px;
    width: 32px;
}

.cardText {
    margin: auto 0;
}

.cardId {
    color: var(--grey);
    font-size: calc(var(--increment) * 1.75);
}

.card:hover {
    color: var(--brand-blue);
}

.fullFlex {
    flex: 1;
}

.flexContainer {
    display: flex;
    flex-direction: column;
}
