@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,500;1,600&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;1,300;1,500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,400&display=swap');

:root {
    font-family: 'Noto Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    --increment: 0.5rem;
    --shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

    --brand-blue: #3974f7;
    --brand-green: #68ff86;
    --brand-yellow: #faca0f;
    --brand-purple: #8e55d9;
    --brand-red: #ed4245;

    --dark-border: #23272b;
    --light-border: #ffffff;

    --light-grey: #c0bcbc;
    --dark-grey: #4f5660;
}
