.formField {
    margin-top: calc(var(--increment) * 1.75);
    margin-bottom: calc(var(--increment) * 1.75);
}

.formLabel {
    color: var(--grey);
    font-size: calc(var(--increment) * 2);
}

.error {
    font-size: calc(var(--increment) * 2);
    color: var(--brand-red);
}

.textarea {
    resize: none;
    height: calc(var(--increment) * 16);
}

.selected {
    color: var(--text-color);
    background: var(--brand-blue) !important;
}
